.bar-container {
  padding: 10px;
  width: 90%;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-sizing: border-box;
}

.bar {
  width: 5px;
  margin-top: 50px;
  margin-left: 0px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
