.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.button {
  margin: 20px;
  padding: 10px;
  background-color: rgb(37, 41, 106);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.arr-btn {
  background-color: rgb(48, 155, 82);
}
